{% include "header.html" %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom sectcontainer" id="plotmultiple">
        <h1 class="h2 sectiontitle">Load mitotic graph data</h1>
    </div>
    <div class="row">
        <div class="col-2">
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </p>
        </div>
        <div class="col-10">
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <form method="post" action="{{ url_for('mitotic_graph', strains=strains) }}" enctype="multipart/form-data">
                        {% for n in range(strains) %}
                        <div class="row">
                            <div class="col-sm-5">
                                <p>
                                    <input class="form-control choosebutton" type="file" id="formFile" name="file1{{n}}" required>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <fieldset disabled>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{strains_names[n]}}">
                                </fieldset>
                            </div>
                            {% if n+1==strains %}
                            <div class="col-sm-3">
                                <p class="submitbuttoncontainer">
                                    <input type="submit" class="btn btn-primary submitbutton" value="Submit">
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <img class="img-fluid graph-img" src="{{ image_multiple }}" alt="Not Found" onerror=this.src="../static/images/line-graph.png">

{% include "footer.html" %}