<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload new File</title>
</head>
<body>

    <h1>Upload new csv files to analize</h1>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="files[]" multiple="true" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    <img class="graph-img" src="{{ image }}" alt="Not Found" onerror=this.src="static/images/graph_icon.png">



</body>
</html>