{% include "header.html" %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom sectcontainer" id="plotmultiple">
        <h1 class="h2 sectiontitle">Plot single strain</h1>
          <div>
          <p>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      <ul class=flashes>
                          {% for message in messages %}
                              <li>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              {% endwith %}
          </p>
          </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">

          </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-7">
            <img class="img-fluid graph-img" src="{{ image }}" alt="Not Found" onerror=this.src="../static/images/line-graph.png">
          </div>
          <div class="col-5 align-self-center mx-auto">
              <form method="post" action="{{ url_for('plot', strains=strains) }}" enctype="multipart/form-data">
                  {% if mitotic %}
                  <div class="row">
                        <div class="form-check form-switch switcher">
                            {% if mitotic_switched_on %}
                            <input class="form-check-input" type="checkbox" name="flexswitch2" id="flexSwitchCheckDefault2" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" name="flexswitch2" id="flexSwitchCheckDefault2">
                            {% endif %}
                            <label class="form-check-label" for="flexSwitchCheckDefault2">Mitotic zone graph</label>
                        </div>
                  </div>
                  {% endif %}
                  <div class="row">
                      <div class="col-sm-5">
                          <label for="customRange3" class="form-label fTitle">Number of points</label>
                      </div>
                      <div class="col-sm-7">
                         <input type="text" id="textInput" value={{npoints}}>
                      </div>
                  </div>
                  <div class="row">
                      <input type="range" name="number_of_points" class="form-range slid" value={{npoints}} min="2" max="100" step="2" id="customRange3" onchange="updateTextInput(this.value);">
                  </div>
                  <div class="row">
                      <label for="flexRadioDefault1" class="fTitle">Fluorescence intensity display</label>
                  </div>
                  <div class="row">
                      <div class="form-check">
                          {% if not std and not fld %}
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="abs" checked>
                          {% else %}
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="abs">
                          {% endif %}
                          <label class="form-check-label" for="flexRadioDefault1">
                            Absolute value (0-255)
                          </label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-check">
                          {% if std %}
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="std" checked>
                          {% else %}
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="std">
                          {% endif %}
                          <label class="form-check-label" for="flexRadioDefault2">
                            Standarize value against max (0-100)
                          </label>
                      </div>
                  </div>
                  <div class="row">

                      <div class="form-check">
                          {% if fld %}
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="fold" checked>
                          {% else %}
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="fold">
                          {% endif %}
                          <label class="form-check-label" for="flexRadioDefault3">
                            Fold increase
                          </label>
                      </div>
                  </div>

                  <div class="row">
                      <label for="rslide" class="form-label fTitle">Range of gonad to compare against (only for fold increase)</label>
                      <input class="rangeValues" name="rslideValues" value={{range_fold}}>
                      <section class="range-slider slid" id="rslide">
                          <input value={{range_fold_1}} min="0" max="100" step="2" type="range">
                          <input value={{range_fold_2}} min="0" max="100" step="2" type="range">
                      </section>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-sm-4">
                          <label for="dpi_selector" class="form-label fTitle">DPI (max 500)</label>
                          <input class="rangeValues" type="text" name="dpi" id="dpi_selector" value={{dpi}}>
                      </div>
                      <div class="col-sm-4">
                          <p class="submitbuttoncontainer">
                              <input type="submit" class="btn btn-primary submitbutton" value="Submit">
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
{% include "footer.html" %}