{% include "header.html" %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom sectcontainer" id="plotmultiple">
        <h1 class="h2 sectiontitle">Plot multiple strains</h1>
    </div>
    <div class="row">
        <div class="col-2">
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </p>
        </div>
        <div class="col-10">
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <form method="post" action="{{ url_for('multiplestrains_plot', strainnumber=lines) }}" enctype="multipart/form-data">
                        {% for n in range(lines) %}
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="choosfilecontainer">
                                    <p>
                                        <input type="file" class="form-control choosebutton" name="files[]{{ n+1 }}" multiple="true" autocomplete="off" required>
                                    </p>
                                </dl>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="strainname{{ n+1 }}" value="Introduce strain name" class="input-group-text choosebutton">
                            </div>
                            {% if n+1==lines %}
                            <div class="col-sm-3">
                                <p class="submitbuttoncontainer">
                                    <input type="submit" class="btn btn-primary submitbutton" value="Submit">
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <img class="img-fluid graph-img" src="{{ image_multiple }}" alt="Not Found" onerror=this.src="../static/images/line-graph.png">

{% include "footer.html" %}